* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  html {
    font-size: 62.5%;
    overflow: hidden;
  }

 header {
     height: 16vh;
     background-color: rgb(0, 0, 0);
     display:block;
     
  }


  .logo {
      display: block;
  }

  .logo img {
    width: 80%;
    max-width: 17rem;
    display:inline-block;
    margin: 0.5rem auto;
    padding: 0px;
    position: relative;
    left: 25px;
  }

.navbar {
    text-align: right;
    color: white;

}

  .navbar li {
    width: 9rem;
    height: 0px;
    display: inline-block;
    text-align: right;
    padding: 0.3rem;
    margin: 1rem;
    position: relative;
    font-size: 1.5rem;
    right: 4rem;
    bottom: 8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .columna__trailers {
      width: 25vw;
      height: 85vh;
      background-color: rgba(20, 20, 20, 0.836);
      
  }

  .trailer__1 {
      width: 20vw;
      height: 15vw;
      padding: 1rem;
      border: 0.5rem white solid;
      position: relative;
      left: 3.5rem;
      top: 1rem;
      background-color: royalblue;
  }

  .trailer__1 img {
      width:19.5vw;
      height: 14.5vw;
      position: relative;
      right: 1rem;
      bottom: 1rem; 
  }

  .trailer__2 {
    width: 20vw;
    height: 15vw;
    padding: 1rem;
    border: 0.5rem white solid;
    position: relative;
    left: 3.5rem;
    top: 6rem;
    background-color: royalblue;
}

.trailer__2 img {
    width:19.45vw;
    height: 14.5vw;
    position: relative;
    right: 1rem;
    bottom: 1rem;
}


.trailer__3 {
    width: 24vw;
    height: 2.8vw;
    padding: 1rem;
    border: 1px white solid;
    position: relative;
    top: 9.8rem;
    left: 0.7rem;
    background-color: rgb(20, 20, 20, 0.836);
}

.trailer__3 h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color:white;
    position: relative;
    bottom: 0.3rem;
}

.reproductor {
    width: 73.9vw;
    height: 85vh;
    border: 5px black solid;
    background:cadetblue;
    position: relative;
    left: 480px;
    bottom: 760px;
    display: inline-block;
}

.reproductor img {
    width: 73.3vw;
    height: 84.3vh;
    position: relative;
    bottom: 0.5rem;
}